/*font settings*/
h1{
    font-size: 46px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
h2{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
h3{
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
h4{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
p{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
li{
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
/*tags*/
.inline-block-tagline {
    display: inline-block;
    vertical-align: 125%;
    padding-left: 300px;
    font-size: 64px;
}

li {
    width: auto;
    display: inline;
    padding: 15px;
    margin-bottom: 0%;
    vertical-align: bottom;
    text-align: center;
    position: sticky;
    bottom: 0;
}
.footer-logo {
    display: block;
    margin-left: auto;
    margin-bottom: 0px;
}

